<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poems</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>Collections</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        {% for collection in collections %}
        <tr>
          <td>
            {{ collection.name }}<br />
            <small style="color: #888;">{{ collection.description }}</small>
          </td>
          <td>modern</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
